@model BlogCore.Models.PostModel

@{
    Layout = "~/Views/Shared/_LayoutNoBar.cshtml";
}


<div class="col-md-12 blog-main">
    <script src="~/lib/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
    <link href="~/lib/ckeditor/plugins/codesnippet/lib/highlight/styles/ir_black.css" rel="stylesheet" />
    <div class="col-lg-12">
        <!-- Title -->
        <h1 class="mt-4">@Model.Title</h1>
        <hr>
        <!-- Date/Time -->
        <p>Posted on @Model.LastModificationTime.ToString("d/M/yyyy")</p>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="@Model.Image" alt="">

        <div id="Content" name="Content">
            @Html.Raw(Model.Content)
        </div>

        <br />
        <!-- /.blog-main -->
    </div>

</div><!-- /.row -->
@*@RenderSection("Scripts", required: false)*@
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="~/lib/ckeditor/ckeditor.js"></script>
<script src="~/lib/ckeditor/adapters/jquery.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
@*@RenderSection("Scripts", required: false)*@

<script>hljs.initHighlightingOnLoad();</script>
