.vs
=======
bin
obj
obj/Debug
.csproj.user
.licx
/Libraries
rar
.bak
Published
PublishProfiles
App_Data
App_Data/logs
App_Data/Logs/TPG_Error.log
=======
*/bin/
*/obj/
*/obj/Debug
*.csproj.user
*.licx
*.rar
*.bak
*.cache
*.user
*/Published/
*/PublishProfiles/
*/App_Data/
*/App_Data/logs/
*/App_Data/Logs/TPG_Error.log
=======
**/bin/
**/obj/
**/obj/Debug
**.csproj.user
**.licx
**.rar
**.bak
**/Published/
**/PublishProfiles/
**/App_Data/
**/App_Data/Logs/TPG_Error.log


/ICC.TPG.Security.Business/AS.FDC.Ignite.Security.Business.csproj.vspscc
/ICC.TPG.Security.Domain/AS.FDC.Ignite.Security.Domain.csproj.vspscc
/ICC.Core.Command/Model/DocModel.cs
/ICC.TPG.MVC/App_Data/Logs/TPG_Error_Log.txt
/ICC.TPG.MVC/App_Data/Logs/TPG_Debug_Log.txt
