.navbar {
    /*margin-bottom: 20px;*/
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.branch {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 1.5rem;
    padding-bottom: 2px;
    padding-right: 29px;
}

#navbarsExampleDefault {
    font-size: 1rem;
}

.nav-item {
    padding-right: 13px;
}
.navbar a:hover, a:active {
    color: #808080 !important;
    text-decoration: none !important;
}

.btn-outline-light:hover{
    background-color: #808080;
}
